
<!--main page-->

<div class=" home_content_area text-center">
   
</div>
<div class="caption text-center ">
    <h1 class="">Welcome to Eshop</h1>
    <h3 class="">Style your confidence</h3>
    <a href="#products" class="homebtn homebtn-lg">Get started</a>
</div>   


<!--end of main page-->
<!---products-->
<section>

<div class="container mt-5" id="products">
    <h3 class="text-center " style="font-size: 2rem; font-weight: 700; text-transform: uppercase; color: #fe5f1e;">Products</h3>

    <div class="row ">
        {{#each products}}
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{{this.image}}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{this.name}}</h5>
                <p class="card-text">{{this.description}}</p>
                <a href="#" class="btn btn-primary">Add to cart</a>
            </div>
            </div>
        </div>
        {{/each}}

    </div>
</div>

</section>
      


<!--end of product page-->

<!--footer-->
<footer class="bg-dark">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center text-white ">

            <p>copyright&copy;</p>
          </div>
        </div>
      </div>      
    </footer>

<!--end of footer-->