<!--navbar-->
<nav  class="navbar navbar-expand-lg navbar-dark bg-dark " style="position: fixed; width: 100%; z-index: 1;">
    <div class="container ">
        <a href="#" class="logo "><img src="/images/logoeshop.jpg" alt="" class="rounded-circle p-2" style="width: 100px;"></a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbar-menu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-menu">
            <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a href="#search" class="nav-link">
                    <div class="form-group has-search">
                    <span class="fa fa-search form-control-feedback"></span>
                    <input type="search" name="" id="" placeholder="search products" class=" bg-dark" style="border-radius: 10px;border-style: solid; color: #fff; text-align: center;" >
                    </div>
                </a>
            </li>
            <li class="nav-item">
                <a href="#home" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
                <a href="#about" class="nav-link">About</a>
            </li>
            <li class="nav-item">
                <a href="#products" class="nav-link">Products</a>
            </li>
            <li class="nav-item">
                <a href="#offers" class="nav-link">Offers</a>
            </li>
            <li class="nav-item">
                <a href="#register" class="nav-link">Register</a>
            </li>
            <li class="nav-item">
                <a href="#login" class="nav-link">Login</a>
            </li>
            <li class="nav-item">
                <a href="#cart" class="nav-link inline-block px-4 py-2"><img src="/images/cart.png" alt=""></a>
            </li>
        </ul>
        </div>

    </div>

</nav>

<!--end of navbar-->
<!--main page-->

<div class=" home_content_area text-center" id="home">
     <div class="caption text-center ">
    <h1 class="d-none d-sm-block">Welcome to Eshop</h1>
    <h3 class="d-none d-sm-block">Style your confidence</h3>
    <a href="#products" class="homebtn homebtn-lg">Get started</a>
</div>   
</div>


<!--end of main page-->
<!---products-->
<div class="container-fluid " id="products">
    <h3 class="text-center " style="font-size: 2rem; font-weight: 700; text-transform: uppercase; color: #fe5f1e;">Products</h3>
    <div class="row mx-md-n5">

        <div class="col-12 col-sm-6 col-md-4  mr-auto">
            <div class="product_block">
                <img src="/images/product-1.jpg" alt="" >
                
                    <div class="text-center pr_block ">
                    <h2 class="product-name" style="font-size: 1.5rem;">Men's T-shirt</h2>
                    <span class="product-status">Trending</span>
                    <div class="product-details">
                        <span class="product-prize">‎₹‎550</span>
                        <button class="product-btn">
                            <span>+</span>
                            <span class="add-to-cart">Add</span>
                        </button>
                    </div>
            
            </div>
            </div>
        </div>
        
        <div class="col-12 col-sm-6 col-md-4  mr-auto">
            <div class="product_block">
                <img src="/images/product-2.jpg" alt="" >
                
                    <div class="text-center pr_block ">
                    <h2 class="product-name" style="font-size: 1.5rem;">Boots</h2>
                    <span class="product-status">Trending</span>
                    <div class="product-details">
                        <span class="product-prize">‎₹2‎250</span>
                        <button class="product-btn">
                            <span>+</span>
                            <span class="add-to-cart">Add</span>
                        </button>
                    </div>
            
            </div>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-md-4  mr-auto">
            <div class="product_block">
                <img src="/images/product-3.jpg" alt="" >
                
                    <div class="text-center pr_block ">
                    <h2 class="product-name" style="font-size: 1.5rem;">Men's pant</h2>
                    <span class="product-status">Trending</span>
                    <div class="product-details">
                        <span class="product-prize">‎₹‎550</span>
                        <button class="product-btn">
                            <span>+</span>
                            <span class="add-to-cart">Add</span>
                        </button>
                    </div>
            
            </div>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-md-4  mr-auto">
            <div class="product_block">
                <img src="/images/product-4.jpg" alt="" >
                
                    <div class="text-center pr_block ">
                    <h2 class="product-name" style="font-size: 1.5rem;">Men's T-shirt</h2>
                    <span class="product-status">Trending</span>
                    <div class="product-details">
                        <span class="product-prize">‎₹‎790</span>
                        <button class="product-btn">
                            <span>+</span>
                            <span class="add-to-cart">Add</span>
                        </button>
                    </div>
            
            </div>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-md-4  mr-auto">
            <div class="product_block">
                <img src="/images/product-5.jpg" alt="" >
                
                    <div class="text-center pr_block ">
                    <h2 class="product-name" style="font-size: 1.5rem;">Boots</h2>
                    <span class="product-status">Trending</span>
                    <div class="product-details">
                        <span class="product-prize">‎₹‎1250</span>
                        <button class="product-btn">
                            <span>+</span>
                            <span class="add-to-cart">Add</span>
                        </button>
                    </div>
            
            </div>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-md-4  mr-auto">
            <div class="product_block">
                <img src="/images/product-6.jpg" alt="" >
                
                    <div class="text-center pr_block ">
                    <h2 class="product-name" style="font-size: 1.5rem;">Men's T-shirt</h2>
                    <span class="product-status">Trending</span>
                    <div class="product-details">
                        <span class="product-prize">‎₹‎650</span>
                        <button class="product-btn">
                            <span>+</span>
                            <span class="add-to-cart">Add</span>
                        </button>
                    </div>
            
            </div>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-md-4  mr-auto">
            <div class="product_block">
                <img src="/images/product-7.jpg" alt="" >
                
                    <div class="text-center pr_block ">
                    <h2 class="product-name" style="font-size: 1.5rem;">Sox</h2>
                    <span class="product-status">Trending</span>
                    <div class="product-details">
                        <span class="product-prize">‎₹‎250</span>
                        <button class="product-btn">
                            <span>+</span>
                            <span class="add-to-cart">Add</span>
                        </button>
                    </div>
            
            </div>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-md-4  mr-auto">
            <div class="product_block">
                <img src="/images/product-8.jpg" alt="" >
                
                    <div class="text-center pr_block ">
                    <h2 class="product-name" style="font-size: 1.5rem;">Watch</h2>
                    <span class="product-status">Trending</span>
                    <div class="product-details">
                        <span class="product-prize">‎₹‎750</span>
                        <button class="product-btn">
                            <span>+</span>
                            <span class="add-to-cart">Add</span>
                        </button>
                    </div>
            
            </div>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-md-4  mr-auto">
            <div class="product_block">
                <img src="/images/product-9.jpg" alt="" >
                
                    <div class="text-center pr_block ">
                    <h2 class="product-name" style="font-size: 1.5rem;">Watch</h2>
                    <span class="product-status">Trending</span>
                    <div class="product-details">
                        <span class="product-prize">‎₹‎500</span>
                        <button class="product-btn">
                            <span>+</span>
                            <span class="add-to-cart">Add</span>
                        </button>
                    </div>
            
            </div>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-md-4  mr-auto">
            <div class="product_block">
                <img src="/images/product-10.jpg" alt="" >
                
                    <div class="text-center pr_block ">
                    <h2 class="product-name" style="font-size: 1.5rem;">Boots</h2>
                    <span class="product-status">Trending</span>
                    <div class="product-details">
                        <span class="product-prize">‎₹‎2500</span>
                        <button class="product-btn">
                            <span>+</span>
                            <span class="add-to-cart">Add</span>
                        </button>
                    </div>
            
            </div>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-md-4  mr-auto">
            <div class="product_block">
                <img src="/images/product-11.jpg" alt="" >
                
                    <div class="text-center pr_block ">
                    <h2 class="product-name" style="font-size: 1.5rem;">Boots</h2>
                    <span class="product-status">Trending</span>
                    <div class="product-details">
                        <span class="product-prize">‎₹‎1050</span>
                        <button class="product-btn">
                            <span>+</span>
                            <span class="add-to-cart">Add</span>
                        </button>
                    </div>
            
            </div>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-md-4  mr-auto">
            <div class="product_block">
                <img src="/images/product-12.jpg" alt="" >
                
                    <div class="text-center pr_block ">
                    <h2 class="product-name" style="font-size: 1.5rem;">Men's pant</h2>
                    <span class="product-status">Trending</span>
                    <div class="product-details">
                        <span class="product-prize">‎₹‎750</span>
                        <button class="product-btn">
                            <span>+</span>
                            <span class="add-to-cart">Add</span>
                        </button>
                    </div>
            
            </div>
            </div>
        </div>

    </div>
</div>
<!--end of product page-->

<!--footer-->
<footer class="bg-dark">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center text-white ">

            <p>copyright&copy;</p>
          </div>
        </div>
      </div>      
    </footer>

<!--end of footer-->