<!DOCTYPE html>
<html>
  <head>
    <title>Eshop</title>
    <link rel="icon" href="images/logoeshop.jpg" type="image/icon type">

    <link rel='stylesheet' href='/stylesheets/style.css' />
    

  </head>
  <body>
    {{{body}}}
  
  </body>
</html>
