<div class="container-fluid p-5 login-background">
    <div class="row justify-content-center align-items-center p-5">
        <div class="login p-5">
        <h1>Reset-password</h1>
            <form action="/reset-password" method="POST">
                <label for="email"><i class="fa fa-envelope mr-2"></i>Email Id</label><br>
                <input type="text" name="email" placeholder="Enter email Id"><br>
                <input type="submit" value="Submit">
            </form>
       </div> 
    </div>

</div>