<div class=" home_content_area text-center">
   
</div>
<div class="caption text-center ">
    <h1 class="">Welcome to Eshop</h1>
    <h3 class="">Style your confidence</h3>
    <a href="/login" class="homebtn homebtn-lg">Get started</a>
</div>   
