<div class="container-fluid pt-5">
    <div class="row pt-5">
        <div class="about pt-5 col-12 col-md-12"> 
            <h1 class="text-center text-info">
                User with this email id not found!
            </h1>
            
        </div>
    </div>
</div>