<div class="container-fluid">
    <div class="row">
        <div class=" home_content_area text-center">
        
        </div>
        <div class="caption text-center ">
            <h1 class="" style="color:rgb(15, 214, 15); font-weight: bolder;">Order Placed Successfully </h1>
            <a href="/order" class="homebtn homebtn-lg">View Order</a>
        </div> 
    </div> 
</div> 
