body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;  
    font-family: 'Poppins';
    color: #505962;
  }

/*design for landing page*/

.navbar{
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .1rem;
  }
  
  .navbar-dark .navbar-nav .nav-link{
    color: #fff;
  }
  
  .navbar-dark .navbar-nav .nav-link.active,
  .navbar-dark .navbar-nav .nav-link:hover{
    color:  #FE5F1E;
  }
  
  #cart a{
    border-radius: 20px;
  }
  
  #cart a:hover{
      background-color:#fe5f1e;
  }
  
  nav li a{
    transition: all 1s ease-in-out ;
  }
    
  
  .navbar-toggler{
    outline:none!important;
  }

  .dropdown button{
    margin-left:10px ;
    border: none;
    font-weight: 700;
    text-transform: uppercase;
  }

  .dropdown button:hover{
    border: none;
    color: #fe5f1e;
    transition: all 1s ease-in-out;
  }

  .dropdown-menu{
    background-color: rgb(39, 35, 35);
  }

  .dropdown-menu a{
    font-weight: 700;
    color: #fff;
  }

  .dropdown-menu a:hover{
    background-color: transparent;
    transition: all 1s ease-in-out;
    color: #fe5f1e;
  }
  
  .has-search .form-control-feedback {
    position: absolute;
    margin-left: 5px;
    line-height: 2rem;
    text-align: center;
    pointer-events: none;
    color:grey;
  }
  
  .home_content_area {
    width:100%;
    max-width: 120%;
    height: 100%;
    padding-top: 74.6691871456%;
    margin:0;
    background: url(/images/homeimg.jpg) no-repeat top left;
    background-size: cover;
    background-attachment:fixed;
    background-attachment:scroll;
  }
  
  .caption{
    width: 100%;
    height: 100%;
    max-width: 100%;
    position: absolute ;
    text-align: center;
    /*top: 35%;*/
    color: white;
    text-transform: uppercase;
    text-align: center;
  }
  @media (min-width: 300px) {  
    .caption h1 {font-size:1.5rem;} /*1rem = 16px*/
    .caption h3 {font-size: 1rem;}
    .caption{
      top: 18%;}
  }
  
  /*microsoft lumia*/
  @media (min-width: 640px) {  
    .caption h1 {font-size:1.5rem;} /*1rem = 16px*/
    .caption h3 {font-size: 1rem;}
    .caption{
      top: 38%;}
    .home_content_area {
        width:120%;}
  }
  
   
  /* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
  @media (min-width: 768px) {  
    .caption h1 {font-size:2rem;} /*1rem = 16px*/
    .caption h3{font-size: 1.5rem;}
    .caption{
      top: 27%;}
      .home_content_area {
        width:120%;}
  }

  @media (min-width: 800px) {  
    .caption h1 {font-size:2rem;} /*1rem = 16px*/
    .caption h3{font-size: 1.5rem;}
    .caption{
      top: 22%;}
      .home_content_area {
        width:120%;}
  } 
   
  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) { 
    .caption h1 {font-size:3.5rem;} 
    .caption h3 {font-size: 2rem;}
    .caption{
      width: 100%;
      max-width: 100%;
      position: absolute;
      top:38%;}
  
  }
  
.caption h1{
    color: black;
   /* font-size: 3.8rem;*/
    font-weight: 700;
    letter-spacing: .3rem;
    text-shadow: .1rem .1 rem .8 rem black;
    padding-bottom: 1rem;
  }

  .caption h3{
    color: black;
    /*font-size: 2rem;*/
    text-shadow: .1rem .1rem .5rem black;
    padding-bottom: 1.6rem;
  }
  
  .homebtn{
    border-width: medium;
    color: #fff;
    background-color: black;
    border-radius: 0;
    padding: .6rem 1.3rem;
    font-size: 1.1rem;
  }
  .homebtn:hover{
    color: #FE5F1E;
    text-decoration: none;
    transition: all 1s ease-in-out;
  }


 .login-background{
    width:100%;
    max-width: 120%;
    height: 752px;
    margin:0;
    background: url(/images/homeimg.jpg) no-repeat top left;
    background-size: cover;
    background-attachment:fixed;
    background-attachment:scroll;
 }

  .login{
    margin-top: 75px;
    color:black;
    background-image: linear-gradient(to right top, #bb1071, #b0308b, #a045a2, #8a57b3, #7166bf, #5a78cf, #3b89da, #0098e1, #00b1ed, #00c8f1, #00deee, #14f3e5);
  }

  .login h1{
    padding-left: 20px;
    margin-bottom: 32px;
  }

 .login label{
font-weight: 800;
 }

 .login input{
   margin-bottom: 10px;
   color: #00deee;
   width: 100%;
 
}

 .login input::-webkit-input-placeholder {
  color:  #00deee;
}

 .login input[type="text"],input[type="password"],input[type="Email"]{
  border: none;
  border-bottom: 1px solid black;
  background: transparent;
  outline: none;
  height: 40px;
  font-size: 16px;
 }

 .login input[type='submit']{
   color:#00deee;
   background-color: #bb1071 ;
   border-radius: 10px;
   border: none;
 }

 .login input[type='submit']:hover{
  color: #ec0d8ce0;
  background-color:#6f1bb4 ;
  border-radius: 10px;
  border: none;
}

.login a{
color:#00deee;
}
.login a:hover{
  color: greenyellow;
  text-decoration: none;
}
